body{
	color:#003056;
	background: #b5fff2;
	font-size: 50px;
}
div[class="div_1"],div[class="div_2"],div[class="div_3"],div[class="div_4"],div[class="summery_1"]{
	border:5px solid #b5fff2;
	width: 92%;
	border-radius: 20px;
	padding: 20px 20px;
	background: #fff;
	margin:0 10px;
	font-size: 50px;
	position: relative;
}
div[class="div_4"]{text-align: center;font-size: 65px;}
a{color:#003056;}

.top{
	background: #b5fff2;
	position: fixed;
	z-index: 6;
}
.summery{
	text-align: center;
}
.summery img{
	position: relative;
	top:70px;
	height:250px;
	z-index: 5;
	border-radius:50% 50%;

}
.summery .summery_1{
	background: #fff;
	vertical-align: middle;
	position: relative;
	padding-top: 40px;
}
.summery span[class="left"]{margin-right: 30px;}
.summery span[class="right"]{margin-left: 30px;}

table td{
	border-bottom: #ebeff2 solid 5px;
	padding: 20px 0;
	}