<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../static/all_top.css">
<link rel="stylesheet" href="../static/current.css">
<meta http-equiv="content-type" content="tetx/html; charset=UTF-8">
	<title></title>
</head>
<style>
a{color:#000;}
</style>
<body>
<nav class="top">
	<a href=""><img src="../static/back_button.png" id="back"/></a>
	<h2>当前预约</h2>
</nav>
<div class="search">
	<img src="../static/search.png">
	<input type="search" placeholder="人名，教室，科目等" />
</div>
<a href="./particulars.html">
<div class="contents">
	<img class="" src="../static/header.png"/>
	<table class="top_info">
			<tr>	
				<td name="Name_4">微仔</td>
				<td>科目：</td>
				<td name="Course_4"></td>
			</tr>

			<tr>	
				<td name="Major_4">电信1504</td>
				<td>主题：</td>
				<td name="Subject_4"></td>
			</tr>
		</table>

		<table class="bottom_info">
			<tr>
				<td  class="location" name="Location_4">东九A211</td>
				<td></td>
			</tr>

			<tr>
				<td name="Time_4">18:00~20:00</td>
				<td class="numbers" name="Number_4">人数：2</td>
			</tr>
		</table>
	</div>
</a>
</body>
</html>