<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../static/all_top.css">
<link rel="stylesheet" href="../static/current.css">
<meta http-equiv="content-type" content="tetx/html; charset=UTF-8">
	<title></title>
</head>
<style>
a{color:#000;}
</style>
<body>
<nav class="top">
	<a href="{{url_for('person')}}"><img src="../static/back_button.png" id="back"/></a>
	<h2>当前预约</h2>
</nav>
<div class="search">
	<img src="../static/search.png">
	<input type="search" placeholder="人名，教室，科目等" />
</div>
{% for mked in mkeds %}

<div class="contents contents_1">
	<!-- <img class="" src="../static/uploads/{{mked.Photo}}"/> -->
	<img class="" src={%if mked.Photo !="" %} "../static/uploads/{{mked.Photo}}" {%else %} "../static/header_new.png" {%endif %}/>
	<table class="top_info">
			<tr>	
				<td name="Name_4">{{mked.Name}}</td>
				<td>性别：</td>
				<td name="Course_4">{{mked.Sex}}</td>
			</tr>

			<tr>	
				<td name="Major_4">{{mked.Major}}</td>
				<td>年级：</td>
				<td name="Subject_4">{{mked.Grade}}</td>
			</tr>
		</table>

		<table class="bottom_info">
			<tr>
				<td  class="location" name="Location_4">QQ</td>
				<td>{{mked.QQ}}</td>
			</tr>

			<tr>
				<td name="Time_4">电话：</td>
				<td>{{mked.Phone_number}}</td>

			</tr>
		</table>
	</div>

{% endfor %}
</body>
</html>