<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../static/index_1.css">
<link rel="stylesheet" href="../static/all_top.css">
<meta http-equiv="content-type" content="tetx/html; charset=UTF-8">
<title></title>
</head>
<body>
<nav class="top">
	<h2>约自习</h2>
	<a href="{{url_for('person')}}"><img src="../static/privaty.png" id="privaty"/></a>
</nav>

<!-- <div class="notes">
	<img src="../static/light.png" />	
	最新通知：
	<span id="information" name="information">约自习即将上线！</span>
</div> -->

<div class="content">
	<a href="{{url_for('info',name1='info_c')}}"><div class="ccode"><span class="subjects">C++</span><!-- <span class="students" name="students_1">120</span> --></div></a>
	<a href="{{url_for('info',name1='info_weiji')}}"><div class="weiji"><span class="subjects">微积分</sapn><!-- <span class="students" name="students_2">200</span> --></div></a>
	<a href="{{url_for('info',name1='info_mayuan')}}"><div class="mayuan"><span class="subjects">马原</sapn><!-- <span class="students" name="students_3">56</span> --></div></a>
	<a href="{{url_for('info',name1='info_boyi')}}"><div class="boyi"><span class="subjects">博弈论</sapn><!-- <span class="students" name="students_4">36</span> --></div></a>
	<a href="{{url_for('info',name1='info_caijing')}}"><div class="caijin"><span class="subjects">财经</sapn><!-- <span class="students" name="students_5">127</span> --></div></a>
	<a href="{{url_for('info',name1='info_jindai')}}"><div class="jindai"><span class="subjects">近代史</sapn><!-- <span class="students" name="students_6">256</span> --></div></a>
	<a href="{{url_for('info',name1='info_yyu')}}"><div class="yinyu"><span class="subjects">英语</sapn><!-- <span class="students" name="students_7">51</span> --></div></a>
</div>

<div class="bottom_button">
	<a href="{{url_for('make_meet')}}"><div class="yuezixi">我要约自习</div></a>
	<a href="{{url_for('notice')}}"><div class="shouhuo">约自习公告</div></a>
</div>
</body>

<script type="text/javascript">

</script>

</html>
