<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../static/all_top.css">
<meta http-equiv="content-type" content="tetx/html; charset=UTF-8">
	<title></title>
<style type="text/css">span{font-size:3em;top: 150px;position: absolute;}</style>
</head>
<body>
<nav class="top">
	<a href="{{url_for('index')}}"><img src="../static/back_button.png" id="back"/></a>
	<h2>科目简介</h2>
</nav>
<span>财经是指财政、金融、经济。财经类专业是指经济类和管理类专业，常见的专业包括市场营销、会计、人力资源管理、金融、国际贸易、企业管理、统计、财税等，是近几年来人才市场上的热门专业。</span>
</body>
</html>