<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../static/all_top.css">
<meta http-equiv="content-type" content="tetx/html; charset=UTF-8">
	<title></title>
<style type="text/css">span{font-size:3em;top: 150px;position: absolute;}</style>
</head>
<body>
<nav class="top">
	<a href="{{url_for('index')}}"><img src="../static/back_button.png" id="back"/></a>
	<h2>科目简介</h2>
</nav>
<span>微积分（Calculus）是高等数学中研究函数的微分（Differentiation）、积分(Integration)以及有关概念和应用的数学分支。它是数学的一个基础学科。内容主要包括极限、微分学、积分学及其应用。微分学包括求导数的运算，是一套关于变化率的理论。它使得函数、速度、加速度和曲线的斜率等均可用一套通用的符号进行讨论。积分学，包括求积分的运算，为定义和计算面积、体积等提供一套通用的方法。
</span>
</body>
</html>