<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../static/all_top.css">
<meta http-equiv="content-type" content="tetx/html; charset=UTF-8">
	<title></title>
<style type="text/css">span{font-size:3em;top: 150px;position: absolute;}</style>
</head>
<body>
<nav class="top">
	<a href="{{url_for('index')}}"><img src="../static/back_button.png" id="back"/></a>
	<h2>科目简介</h2>
</nav>
<span>中国近代史从鸦片战争（1840年）到新中国成立（1949年）为止。中国近代史，是一部充满灾难、落后挨打的屈辱史，是一部中国人民探索救国之路，实现自由、民主的探索史，是一部中华民族抵抗侵略，打倒帝国主义以实现民族解放、打倒封建主义以实现人民富强的斗争史。</span>
</body>
</html>