<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../static/all_top.css">
<meta http-equiv="content-type" content="tetx/html; charset=UTF-8">
	<title></title>
<style type="text/css">span{font-size:3em;top: 150px;position: absolute;}</style>
</head>
<body>
<nav class="top">
	<a href="{{url_for('index')}}"><img src="../static/back_button.png" id="back"/></a>
	<h2>科目简介</h2>
</nav>
<span>英语（English），属于印欧语系中日耳曼语族下的西日耳曼语支。根据以英语作为母语的人数计算，英语是最多国家使用的官方语言，英语也是世界上最广泛的第二语言，也是欧盟的，最多国际组织和英联邦国家的官方语言，拥有世界第三位的母语使用者人数，仅少于汉语和西班牙语母语使用者人数。</span>
</body>
</html>