<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../static/all_top.css">
<link rel="stylesheet" href="../static/login.css">
<meta http-equiv="content-type" content="tetx/html; charset=UTF-8">
	<title></title>
	<style>
		h1{text-align: center;z-index: 7;font-size: 80px;
			position: relative;top:90px;color:red;}
	</style>
</head>
<body>
<div>
</div>
<nav class="top">
	<!-- <a href="" class="topl">忘记密码</a> -->
	<h2>登录</h2>
	<a href= "{{ url_for('register') }}" class="topr">注册</a>
</nav>
<form method="post">
	{{form.hidden_tag()}}
<div>{% if error !=""%}
	<span style="color: red;">{{ error }}</span>
	{% endif %}</div>


<div>姓名 {{form.Name_0(placeholder="请输入姓名" )}}</div>
	<div>密码 {{form.Password_0(placeholder="请输入姓名")}}</div>
<div>	{{form.Submit(value="登录")}}</div>

</form>
</body>
</html>