<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../static/all_top.css">
<link rel="stylesheet" href="../static/login.css">
<meta http-equiv="content-type" content="tetx/html; charset=UTF-8">
	<title></title>
</head>
<body>
<div>
</div>
<nav class="top">
	<!-- <a href="" class="topl">忘记密码</a> -->
	<h2>登录</h2>
	<a href= "{{ url_for('register') }}" class="topr">注册</a>
</nav>
<form method="post">
<div>姓名：<input type="text" placeholder="请输入姓名" name="Name_0" required="" /></div>
<div>密码：<input type="password" placeholder="请输入密码" name="Password_0" required="" /></div>
<div><input type="submit" value="登录"></div>
</form>
</body>
</html>