<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../static/all_top.css">
<link rel="stylesheet" href="../static/current.css">
<meta http-equiv="content-type" content="tetx/html; charset=UTF-8">
	<title></title>
</head>
<body>
<nav class="top">
	<a href=""><img src="../static/back_button.png" id="back"/></a>
	<h2>最新自习公告</h2>
</nav>
<div class="search">
	<img src="../static/search.png">
	<input type="search" placeholder="人名，教室，科目等" />
</div>
<div class="contents">
	<img class="" src="../static/header.png"/>
	<table class="top_info">
		<tr>	
			<td>微仔</td>
			<td>科目：</td>
			<td></td>
		</tr>

		<tr>	
			<td>电信1504</td>
			<td>主题：</td>
			<td></td>
		</tr>
	</table>

	<table class="bottom_info">
		<tr>
			<td  class="location">东九A211</td>
			<td></td>
		</tr>

		<tr>
			<td>18:00~20:00</td>
			<td class="numbers">人数：2</td>
		</tr>
	</table>
	</div>
</body>
</html>