<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../static/all_top.css">
<link rel="stylesheet" href="../static/current.css">
<meta http-equiv="content-type" content="tetx/html; charset=UTF-8">
	<title></title>
</head>
<style>
a{color:#000;}
	.pagination{
		position: fixed;
		font-size: 50px;;
	}
	.pagination{width:100%;
	background: #00bcd4;
		text-align: center;
		margin:0 0;
		padding: 40px;
		left:0px;
		bottom:0;
		
	}
	.span3_1{
		float: left;
		padding-left: 50px;}
		.span3_3{
		float: right;
		padding-right: 50px;}
</style>
<body>
<nav class="top">
	<a href="{{url_for('make_meet')}}"><img src="../static/back_button.png" id="back"/></a>
	<h2>最新自习公告</h2>
</nav>
<div class="search">
	<img src="../static/search.png">
	<input type="search" placeholder="人名，教室，科目等" />
</div>


<div class="info">
	{% for mk in mks.items %}
<a href="{{url_for('invate',id=mk.id)}}">
	<div class="contents">
		<img class="" src={%if mk.User.PersonalData.first().Photo !="" %} "../static/uploads/{{mk.User.PersonalData.first().Photo}}" {%else %} "../static/header_new.png" {%endif %}/>

		<table class="top_info">
			<tr>
				<td name="Name_3">{{mk.User.PersonalData.first().Name}}</td>
				<td>科目：</td>
				<td name="Course_3">{{mk.Course}}</td>
			</tr>

			<tr>
				<td name="Major_3">{{mk.User.PersonalData.first().Major}}</td>
				<td>主题：</td>
				<td name="Subject_3">{{mk.Subject}}</td>
			</tr>
		</table>

		<table class="bottom_info">
			<tr>
				<td  class="location" name="Location_3">{{mk.Location}}</td>
				<td></td>
			</tr>
<tr>
				<td name="Time_3">{{mk.Start_time|time}}~{{mk.End_time|time}}</td>
				<td class="numbers" name="Number_3">人数：{{mk.Number}}</td>
			</tr>
		</table>
		</div>
	</a>
	{% endfor %}
</div>




<div class="pagination">
    <div class="row-fluid">
        <span class="span3 span3_1 offset2">
           {% if mks.has_prev %}<a href="{{ url_for('notice', page = mks.prev_num) }}"><<上一页</a>{% else %}-------{% endif %}
        </span>
        <span class="span3 span3_2">
			{{ mks.page }}/{{ mks.pages }}
        </span>
        <span class="span3 span3_3">

           {% if mks.has_next %}<a href="{{ url_for('notice', page = mks.next_num) }}">下一页>></a>{% else %}-------{% endif %}
        </span>
    </div>
</div>
</body>
</html>