<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../static/all_top.css">
<link rel="stylesheet" href="../static/person.css">
<meta http-equiv="content-type" content="tetx/html; charset=UTF-8">
	<title></title>
</head>
<body>
<nav class="top">
	<a href=""><img src="../static/back_new.png" id="back"/></a>
	<a href="./current.html" class="current">当前预约</a>
</nav>
<div class="summery">
	<img src="../static/header_new.png">
	<div class="summery_1">
		<span class="left">贝壳数：<span>8888</span></span>		
		<span class="right">等级称号：<span>自习狂魔</span></span>
	</div>
</div>
<div class="div_1">
	<table>
		<tr>
			<td>我的姓名：</td>
			<td name="Name"></td>
		</tr>
		<tr>
			<td>我的性别：</td>
			<td name="Sex"></td>
		</tr>
		<tr>
			<td>专业班级：</td>
			<td name="Major"></td>
		</tr>
		<tr>
			<td>手机号码：</td>
			<td name="Phone_number"></td>
		</tr>
		<tr>
			<td>QQ号码：</td>
			<td name="QQ"></td>
		</tr>
		<tr>
			<td>优势学科：</td>
			<td name="Best_subject"></td>
		</tr>
		<tr>
			<td>劣势学科：</td>
			<td name="Worse_subject"></td>
		</tr>
	</table>
</div>
<div class="div_2">
	自我介绍：<span name="Self_introduction"></span>
</div>
<div class="div_3">
	学习目标与志向：<span name="Goal"></span>
</div>
</body>
</html>