<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../static/all_top.css">

<link rel="stylesheet" href="../static/login.css">
<meta http-equiv="content-type" content="tetx/html; charset=UTF-8">
	<title></title>
</head>
<body onkeyup="Error_co();">
<div>
</div>
<nav class="top">
	<a href="{{url_for('log_in')}}" class="topl">登录</a>
	<h2>注册</h2>
</nav>
<form method="post" action="{{url_for('register')}}">
	{{form.hidden_tag()}}
	{% for error in form.Name_0.errors %}
          <div>  <span style="color: red;">{{ error }}</span><br></div>
          {% endfor %}
	 <div>{% for error in form.Password_01.errors %}
            <span style="color: red;">{{ error }}</span>
          {% endfor %}<br>
	</div>
	{%if error!=""%}
	<div><span style="color:red">{{error}}</span> </div>
	{% endif %}
	<div>{{form.Name_0.label}}{{form.Name_0(placeholder="请输入姓名")}}</div>
	<div>{{form.Password_0.label}}{{form.Password_0(placeholder="请输入密码",id="p1")}}</div>
	<div>{{form.Password_01.label}}{{form.Password_01( placeholder="请再次输入密码",id="p2")}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
	<div> {{form.Summit(value='登录')}}</div>

</form>

<?php
echo "我的第一段 PHP 脚本！";
?>

</body>
</html>
<!--<script type="text/javascript">-->

<!--function Error_co()-->
<!--{	-->
	<!--pp1=document.getElementById("p1").value;	-->
	<!--pp2=document.getElementById("p2").value;-->
	<!--if(pp1!=pp2)-->
		<!--{-->
		<!--document.getElementsByTagName("span")[0].innerHTML="  X";-->
		<!--}-->
	<!--else{document.getElementsByTagName("span")[0].innerHTML="";}	-->
<!--}-->
<!--</script>-->