<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../static/all_top.css">

<link rel="stylesheet" href="../static/login.css">
<meta http-equiv="content-type" content="tetx/html; charset=UTF-8">
	<title></title>
</head>
<body>
<div>
</div>
<nav class="top">
	<a href="./log_in.html" class="topl">登录</a>
	<h2>注册</h2>
</nav>
<form>
<div>姓名：<input type="text" placeholder="请输入姓名" name="Name_0"/></div>
<div>密码：<input type="password" placeholder="请输入密码" name="Password_0"/></div>
<div>确认密码：<input type="password" placeholder="请再次输入密码" name="Password_01"/></div>
<div><input type="submit" value="注册"></div>
</form>
</body>
</html>